<strong>Olá, {{ student }} </strong>
<p>Bem vindo a academia GymPoint, confira abaixo os detalhes da sua matrícula:</p>
<p>
  <strong>ID: </strong> {{ student_id }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de Início: </strong> {{ start_date }} <br />
  <strong>Data de Fim: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  {{> messages }}
</p>
